<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.whalesoft.push.PushDao">

<!--  여기 까지 알림-->

  <insert id="insertMberTkn" parameterType="co.whalesoft.push.Push">
    INSERT INTO TAD_MN_PUSH_USER
    (
     mbr_tkn_value, mber_id, mber_nm, creat_dt, usage_at,device_se
    )
    VALUES
      (
        #{mbr_tkn_value},
        #{mber_id},
        #{mber_nm},
        SYS_DATETIME,
        'Y',
        #{device_se}
      )

  </insert>

  <update id="updateMberTkn" parameterType="co.whalesoft.push.Push">
    UPDATE
      TAD_MN_PUSH_USER
    SET
      mber_id = #{mber_id}, mber_nm =#{mber_nm}
    WHERE
      mbr_tkn_value = #{mbr_tkn_value}
  </update>
  
  <update id="updateDplcteMberTkn" parameterType="co.whalesoft.push.Push">
    UPDATE
      TAD_MN_PUSH_USER
    SET
      creat_dt = SYS_DATETIME, usage_at = 'N'
    WHERE
      mbr_tkn_value = #{old_token}
  </update>

  <insert id="fcmGubunInsert" parameterType="co.whalesoft.push.Push">

    <selectKey resultType="int" keyProperty="push_seq" order="BEFORE">
      SELECT
         NVL(MAX(push_seq),0)+1
      FROM
      TAD_MN_PUSH_GUBUN
      WHERE mbr_tkn_value = #{mbr_tkn_value}
    </selectKey>

    INSERT INTO TAD_MN_PUSH_GUBUN
        (
         mbr_tkn_value, push_seq, sys_id, bbs_id, push_at, creat_dt, sys_nm, resve_reqst_ty
         )
    VALUES
      (
        #{mbr_tkn_value},
        #{push_seq},
        #{sys_id},
        #{bbs_id},
        #{push_at},
        SYS_DATETIME,
        #{sys_nm},
        #{resve_reqst_ty}
      )
  </insert>

  <select id="fcmListPush" resultType="co.whalesoft.push.Push">
    SELECT
      a.mbr_tkn_value, a.device_se, c.push_sj, c.push_nm, c.link_info,
      c.push_trnsmis_sttus
    FROM
      TAD_MN_PUSH_USER a, TAD_MN_PUSH_GUBUN b, TAD_MN_PUSH_MANAGE c
    WHERE
      b.push_at = 'Y'
      AND a.mbr_tkn_value = b.mbr_tkn_value
      AND b.sys_id = c.sys_id
      AND b.bbs_id = c.bbs_id

  </select>

  <insert id="realInsert" parameterType="java.util.List">
-- 푸시내용 안보내기로 함 push_nm
    INSERT INTO TAD_MN_PUSH_FCM
        (
         fcm_sn, mbr_tkn_value, sys_id, bbs_id, device_se, push_nm,
         push_sj, link_info, resve_reqst_ty, push_sttus, sndng_dt,
         sys_nm
        )
    VALUES
        <foreach collection="list" item="item" separator=",">
          (
            (
              SELECT
                  NVL(MAX(fcm_sn),0)+1
              FROM
                  TAD_MN_PUSH_FCM
            ),
            #{item.mbr_tkn_value},
            #{item.sys_id},
            #{item.bbs_id},
            #{item.device_se},
            #{item.push_nm},
            #{item.push_sj},
            #{item.link_info},
            #{item.resve_reqst_ty},
           'N',
           SYS_DATETIME,
            #{item.sys_nm}
          )
    </foreach>
  </insert>

  <insert id="insertUnsentPushList" parameterType="java.util.List">
    INSERT INTO TAD_MN_PUSH_MANAGE
    (
      push_sn, sys_id, bbs_id, push_sj, push_nm,
      link_info, push_trnsmis_sttus, push_tkn_value, resve_reqst_sn, resve_reqst_dt,
      resve_reqst_ty, mber_id, mber_ty, creat_dt, creat_user_ip
    )
    VALUES
    <foreach collection="list" item="item" separator=",">
    (
      SEQ_MN_PUSH_SN.NEXTVAL,
      #{item.sys_id},
      #{item.bbs_id},
      #{item.push_sj},
      #{item.push_nm},
      #{item.link_info},
      #{item.push_trnsmis_sttus},
      #{item.push_tkn_value},
      #{item.resve_reqst_sn},
      #{item.resve_reqst_dt},
      #{item.resve_reqst_ty},
      #{item.mber_id},
      #{item.mber_ty},
      SYS_DATETIME,
      #{item.creat_user_ip}
      )
    </foreach>
  </insert>

  <delete id="deleteGubunMember" parameterType="co.whalesoft.push.Push">
    DELETE FROM
      TAD_MN_PUSH_GUBUN
    WHERE
      mbr_tkn_value = #{mbr_tkn_value}
  </delete>
  

  <select id="fcmPushList" parameterType="co.whalesoft.push.Push" resultType="co.whalesoft.push.Push">
    SELECT
      fcm_sn, device_se, mbr_tkn_value, push_sj, push_nm, link_info, push_sttus, bbs_id, push_nm
    FROM
      TAD_MN_PUSH_FCM
  </select>

  <delete id="deleteFcmPushList" parameterType="String">
    DELETE FROM
      TAD_MN_FCM
    WHERE
        mbr_token = #{mbr_token}
  </delete>

  <update id="updateFcmPushSttus" parameterType="int" >
    UPDATE
      TAD_MN_PUSH_FCM
    SET
      push_sttus = 'Y'
    WHERE
      fcm_sn = #{push_sn}
  </update>

  <select id="fcmListMember" resultType="co.whalesoft.push.Push">
    SELECT
        a.mbr_tkn_value, a.device_se, b.sys_nm, c.push_sj, c.push_nm,
        c.link_info, c.push_trnsmis_sttus, c.sys_id, c.bbs_id, c.resve_reqst_ty,
        c.mber_id, c.resve_reqst_dt, c.creat_dt
    FROM
        TAD_MN_PUSH_USER a,
        TAD_MN_PUSH_GUBUN b,
        TAD_MN_PUSH_MANAGE c
    WHERE
        b.push_at = 'Y'
    AND c.push_trnsmis_sttus = 'N'
    AND (to_char(c.creat_dt,'YYYY-MM-DD') = to_char(sys_datetime,'YYYY-MM-DD') OR c.resve_reqst_dt <= sys_datetime)
    and a.mbr_tkn_value = b.mbr_tkn_value
    AND b.sys_id = c.sys_id
    AND (b.bbs_id = c.bbs_id OR b.bbs_id = '0')
    group by a.mbr_tkn_value, b.sys_id, c.resve_reqst_ty

  </select>

  <update id="updatePushSttus" parameterType="co.whalesoft.push.Push">
    UPDATE
    TAD_MN_PUSH_MANAGE
    SET
    push_trnsmis_sttus = 'Y'
    WHERE
    sys_id = #{sys_id}
    <if test="bbs_id != null">
      AND bbs_id = #{bbs_id}
    </if>
  </update>

  <delete id="deleteFcmUsers" >
    DELETE FROM
      TAD_MN_PUSH_FCM
    WHERE
      push_sttus = 'Y'
  </delete>

  <delete id="deleteFcmNotRegistered" parameterType="co.whalesoft.push.Push">
    DELETE FROM
      TAD_MN_PUSH_USER
    WHERE
      mbr_tkn_value = #{mbr_tkn_value}
  </delete>

  <select id="selectUnsentPushList" resultType="co.whalesoft.push.Push">
    SELECT
      push_sn, sys_id, bbs_id, push_sj, push_nm,
      link_info, push_tkn_value, resve_reqst_sn, resve_reqst_dt, resve_reqst_ty,
      mber_id, mber_ty, TO_DATE(TO_CHAR(creat_dt,'YYYY/MM/DD'),'YYYY/MM/DD') as creat_dt, creat_user_ip, push_trnsmis_sttus
    FROM
      TAD_MN_PUSH_MANAGE
    WHERE
      push_trnsmis_sttus = 'N'
    AND TO_DATE(TO_CHAR(SYS_DATETIME,'YYYY/MM/DD'),'YYYY/MM/DD') <![CDATA[<]]> creat_dt
  </select>

  <delete id="deleteTwoDayData">
    DELETE FROM TAD_MN_PUSH_MANAGE
  </delete>
<!--시리얼 초기화-->
  <update id="resetSerial">
    ALTER SERIAL SEQ_MN_PUSH_SN
    START WITH 1
    INCREMENT BY 1
    MINVALUE 1
    MAXVALUE 9999999999999999999999999999
  </update>

<!--  통계-->
<!-- 신청 서비스 통계 -->
  <select id="selectPushRequestList" resultType="co.whalesoft.push.Push">
      SELECT
        sys_id, sys_nm, resve_reqst_ty, count(sys_id) as sys_cnt, count(resve_reqst_ty) as reqst_cnt,
        DECODE(resve_reqst_ty, 'EXPRN', '통합예약(체험)', 'PBLPRFR', '통합예약(공연/전시)', 'EDU', '통합예약(교육/강좌)') AS reqst_ty
      FROM
        (
          SELECT a.mbr_tkn_value, a.device_se, b.sys_nm, c.push_sj, c.push_nm,
                 c.link_info, c.push_trnsmis_sttus, c.sys_id, c.bbs_id, c.resve_reqst_ty,
                 c.mber_id, c.resve_reqst_dt
          FROM TAD_MN_PUSH_USER a,
               TAD_MN_PUSH_GUBUN b,
               TAD_MN_PUSH_MANAGE c
          WHERE b.push_at = 'Y'
            AND c.push_trnsmis_sttus = 'Y'
            and a.mbr_tkn_value = b.mbr_tkn_value
            AND b.sys_id = c.sys_id
            AND (b.bbs_id = c.bbs_id
            OR b.bbs_id = '0'
            )
          GROUP BY a.mbr_tkn_value, b.sys_id, c.resve_reqst_ty
        )
      GROUP BY sys_id
  </select>

<!--  발송 서비스 통계-->
  <select id="selectPushSendList" resultType="co.whalesoft.push.Push">
    SELECT sys_id, bbs_id, resve_reqst_ty, reqst_cnt, sndng_dt,
           sys_nm, sum(cnt) as sndng_cnt, reqst_ty
    FROM (
           SELECT sys_id, bbs_id, resve_reqst_ty, sys_nm,
                  count(sys_id)                   as cnt,
                  count(resve_reqst_ty)           as reqst_cnt,
                  to_char(sndng_dt, 'YYYY-MM-DD') as sndng_dt,
                  DECODE(resve_reqst_ty, 'EXPRN', '통합예약(체험)', 'PBLPRFR', '통합예약(공연/전시)', 'EDU', '통합예약(교육/강좌)') AS reqst_ty
           FROM
             po_user.tad_mn_push_fcm
           WHERE  push_sttus = 'Y'
           GROUP BY
             sys_id, resve_reqst_ty, sndng_dt
         )
    GROUP BY sys_id,sndng_dt

  </select>

  <insert id="insertPushRequestList" parameterType="co.whalesoft.push.Push">
    INSERT INTO tad_mn_push_stats
    (
     push_stats_sn, sys_id, sys_cnt, reqst_cnt, resve_reqst_ty,
     reqst_ty, creat_dt, sys_nm, stats_ty
     )
    VALUES
    <foreach collection="list" item="item" separator=",">
      (
      SEQ_MN_PUSH_STATS_SN.NEXTVAL,
      #{item.sys_id},
      #{item.sys_cnt},
      #{item.reqst_cnt},
      #{item.resve_reqst_ty},
      #{item.reqst_ty},
        sys_datetime,
      #{item.sys_nm},
      'R'
      )
    </foreach>
  </insert>

  <insert id="insertPushSendList" parameterType="co.whalesoft.push.Push">
    INSERT INTO tad_mn_push_stats
    (
    push_stats_sn, sys_id, sndng_cnt, resve_reqst_ty, reqst_cnt,
    reqst_ty, sndng_dt, sys_nm, stats_ty
    )
    VALUES
    <foreach collection="list" item="item" separator=",">
      (
      SEQ_MN_PUSH_STATS_SN.NEXTVAL,
      #{item.sys_id},
      #{item.sndng_cnt},
      #{item.resve_reqst_ty},
      #{item.reqst_cnt},
      #{item.reqst_ty},
      #{item.sndng_dt},
      #{item.sys_nm},
      'S'
      )
    </foreach>
  </insert>

</mapper>