<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.whalesoft.push.PushDao">

<!--  여기 까지 알림-->

  <insert id="insertMberTkn" parameterType="co.whalesoft.push.Push">
    INSERT INTO TAD_MN_PUSH_USER
    (
     mbr_tkn_value, mber_id, mbr_nm, creat_dt, usage_at,device_se
    )
    VALUES
      (
        #{mbr_tkn_value},
        #{mber_id},
        #{mbr_nm},
        SYS_DATETIME,
        'Y',
        #{device_se}
      )

  </insert>

  <update id="updateMberTkn" parameterType="co.whalesoft.push.Push">
    UPDATE
      TAD_MN_PUSH_USER
    SET
      mber_id = #{mber_id}, mbr_nm =#{mbr_nm}
    WHERE
      mbr_tkn_value = #{mbr_tkn_value}
  </update>
  
  <update id="updateDplcteMberTkn" parameterType="co.whalesoft.push.Push">
    UPDATE
      TAD_MN_PUSH_USER
    SET
      creat_dt = sysdate, usage_at = 'N'
    WHERE
      mbr_tkn_value = #{old_token}
  </update>

  <insert id="fcmGubunInsert" parameterType="co.whalesoft.push.Push">

    <selectKey resultType="int" keyProperty="push_seq" order="BEFORE">
      SELECT
         NVL(MAX(push_seq),0)+1
      FROM
      TAD_MN_PUSH_GUBUN
      WHERE mbr_tkn_value = #{mbr_tkn_value}
    </selectKey>

    INSERT INTO TAD_MN_PUSH_GUBUN
        (
         mbr_tkn_value, push_seq, sys_id, bbs_id, push_at, creat_dt
         )
    VALUES
      (
        #{mbr_tkn_value},
        #{push_seq},
        #{sys_id},
        #{bbs_id},
        #{push_at},
        sysdate
      )
  </insert>

  <select id="fcmListPush" resultType="co.whalesoft.push.Push">
    SELECT
      a.mbr_tkn_value, a.device_se, c.push_sj, c.push_nm, c.link_info,
      c.push_trnsmis_sttus
    FROM
      TAD_MN_PUSH_USER a, TAD_MN_PUSH_GUBUN b, TAD_MN_PUSH_MANAGE c
    WHERE
      a.mbr_tkn_value = b.mbr_tkn_value
      AND b.sys_id = c.sys_id
      AND b.bbs_id = c.bbs_id
      AND b.push_at = 'Y'

  </select>

  <insert id="realInsert" parameterType="java.util.List">

    INSERT INTO TAD_MN_PUSH_FCM
        (
         fcm_sn, mbr_tkn_value, device_se, push_sj, push_nm, link_info, push_sttus
        )
    VALUES
        <foreach collection="list" item="item" separator=",">
          (
            (
              SELECT
                  NVL(MAX(fcm_sn),0)+1
              FROM
                  TAD_MN_PUSH_FCM
            ),
            #{item.mbr_tkn_value},
            #{item.device_se},
            #{item.push_sj},
            #{item.push_nm},
            #{item.link_info},
           'N'
          )
    </foreach>
  </insert>

  <insert id="insertUnsentPushList" parameterType="java.util.List">
    INSERT INTO TAD_MN_PUSH_MANAGE
    (
      push_sn, sys_id, bbs_id, push_sj, push_nm,
      link_info, push_trnsmis_sttus, push_tkn_value, resve_reqst_sn, resve_reqst_dt,
      resve_reqst_ty, mber_id, mber_ty, creat_dt, creat_user_ip
    )
    VALUES
    <foreach collection="list" item="item" separator=",">
    (
      SEQ_MN_PUSH_SN.NEXTVAL,
      #{item.sys_id},
      #{item.bbs_id},
      #{item.push_sj},
      #{item.push_nm},
      #{item.link_info},
      #{item.push_trnsmis_sttus},
      #{item.push_tkn_value},
      #{item.resve_reqst_sn},
      #{item.resve_reqst_dt},
      #{item.resve_reqst_ty},
      #{item.mber_id},
      #{item.mber_ty},
      SYS_DATETIME,
      #{item.creat_user_ip}
      )
    </foreach>
  </insert>

  <delete id="deleteGubunMember" parameterType="co.whalesoft.push.Push">
    DELETE FROM
      TAD_MN_PUSH_GUBUN
    WHERE
      mbr_tkn_value = #{mbr_tkn_value}
  </delete>
  

  <select id="fcmPushList" parameterType="co.whalesoft.push.Push" resultType="co.whalesoft.push.Push">
    SELECT
      fcm_sn, device_se, mbr_tkn_value, push_sj, push_nm, link_info, push_sttus
    FROM
      TAD_MN_PUSH_FCM
  </select>

  <delete id="deleteFcmPushList" parameterType="String">
    DELETE FROM
      TAD_MN_FCM
    WHERE
        mbr_token = #{mbr_token}
  </delete>

  <select id="fcmListMember" resultType="co.whalesoft.push.Push">
    SELECT
      a.mbr_tkn_value, a.device_se, c.push_sj, c.push_nm, c.link_info, c.push_trnsmis_sttus,
      c.sys_id, c.bbs_id
    FROM
      TAD_MN_PUSH_USER a, TAD_MN_PUSH_GUBUN b, TAD_MN_PUSH_MANAGE c
    WHERE
        b.push_at = 'Y'
      AND c.push_trnsmis_sttus = 'N'
      and a.mbr_tkn_value = b.mbr_tkn_value
      AND b.sys_id = c.sys_id
      AND b.bbs_id = c.bbs_id


  </select>

  <update id="updatePushSttus" parameterType="co.whalesoft.push.Push">
    UPDATE
    TAD_MN_PUSH_MANAGE
    SET
    push_trnsmis_sttus = 'Y'
    WHERE
    sys_id = #{sys_id}
    <if test="bbs_id != null">
      AND bbs_id = #{bbs_id}
    </if>
  </update>

  <delete id="deleteFcmUsers" parameterType="co.whalesoft.push.Push">
    DELETE FROM
      TAD_MN_PUSH_FCM
    WHERE
      mbr_tkn_value = #{mbr_tkn_value}
      and push_sj = #{push_sj}
      and push_nm = #{push_nm}
  </delete>

  <delete id="deleteFcmNotRegistered" parameterType="co.whalesoft.push.Push">
    DELETE FROM
      TAD_MN_PUSH_USER
    WHERE
      mbr_tkn_value = #{mbr_tkn_value}
  </delete>

  <select id="selectUnsentPushList" resultType="co.whalesoft.push.Push">
    SELECT
      push_sn, sys_id, bbs_id, push_sj, push_nm,
      link_info, push_tkn_value, resve_reqst_sn, resve_reqst_dt, resve_reqst_ty,
      mber_id, mber_ty, TO_DATE(TO_CHAR(creat_dt,'YYYY/MM/DD'),'YYYY/MM/DD') as creat_dt, creat_user_ip, push_trnsmis_sttus
    FROM
      TAD_MN_PUSH_MANAGE
    WHERE
      push_trnsmis_sttus = 'N'
      and TO_DATE(TO_CHAR(SYS_DATETIME,'YYYY/MM/DD'),'YYYY/MM/DD') <![CDATA[<]]> creat_dt
  </select>

  <delete id="deleteTwoDayData">
    DELETE FROM TAD_MN_PUSH_MANAGE
  </delete>

  <update id="resetSerial">
    ALTER SERIAL SEQ_MN_PUSH_SN
    START WITH 1
    INCREMENT BY 1
    MINVALUE 1
    MAXVALUE 9999999999999999999999999999
  </update>
</mapper>