<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatistest.mybatisinsert.MybatisInserDao">

    <insert id="insertInfoTarget" parameterType="java.util.List">

      INSERT INTO TAP_NS_NTCN_SE
        (
          mbr_id, ntcn_seq, sys_id, bbs_id, administ_code,
          chnnl_sn, link_info, bbs_sj, ntcn_at, creat_dt
        )
        VALUES
            <foreach collection="list" item="receiver" separator=",">
                (
                    #{receiver.mbr_id},
                  (
                  SELECT
                     NVL(MAX(ntcn_seq),0)+1
                  FROM
                    TAP_NS_NTCN_SE
                  where
                     mbr_id = #{receiver.mbr_id}
                  ),
                    #{receiver.sys_id},
                    #{receiver.bbs_id},
                    #{receiver.administ_code},
                    #{receiver.chnnl_sn},
                    #{receiver.link_info},
                    #{receiver.bbs_sj},
                    'Y',
                    sysdate
                )
            </foreach>
    </insert>

    <delete id="informDelete" >
      DELETE
      FROM TAP_NS_NTCN_SE
    </delete>

    <select id="selectRegisteredPost" resultType="com.example.mybatistest.mybatisinsert.Allim">
      SELECT sys_id,
             administ_code,
             bbs_id,
             chnnl_sn,
             ntcn_sj,
             ntcn_cn,
             link_info,
             ntcn_sttus,
             ntcn_creat_dt,
             creat_mbr_ip
      FROM TAP_NM_NTCN_MANAGE
      WHERE ntcn_sttus = 'Y'
    </select>

    <select id="selectInfoTarget" resultType="com.example.mybatistest.mybatisinsert.Allim" parameterType="com.example.mybatistest.mybatisinsert.Allim">
      select a.mber_id as mbr_id,
             a.administ_code,
             b.sys_id,
             b.bbs_id,
             b.ntcn_sj,
             b.ntcn_cn,
             b.link_info,
             b.bbs_sj
      from po_user.tap_mm_mber a,
           po_user.tap_nm_ntcn_manage b
      where a.administ_code = #{administ_code}
        and a.mber_sttus != 'D'
      and b.sys_id = #{sys_id}
        and b.bbs_id = #{bbs_id}
        and a.administ_code = b.administ_code
    </select>

  <select id="selectArcTarget" resultType="com.example.mybatistest.mybatisinsert.Allim" parameterType="com.example.mybatistest.mybatisinsert.Allim">
    select a.chnnl_sn,
           a.sbscr_sn,
           a.reg_id as mbr_id,
           a.reg_dt,
           a.reg_ip,
           b.sys_id,
           b.ntcn_sj,
           b.ntcn_cn,
           b.link_info,
           b.bbs_sn
    from
      TAD_AR_CS_CHNNL_SBSCR a inner join TAP_NM_NTCN_MANAGE b
    where a.chnnl_sn = #{chnnl_sn}
      and a.chnnl_sn = b.chnnl_sn
  </select>

  <update id="updateNtcnSttus" parameterType="com.example.mybatistest.mybatisinsert.Allim">
    UPDATE
    TAP_NM_NTCN_MANAGE
    SET
    ntcn_sttus = 'N'
    WHERE
    sys_id = #{sys_id}
    <if test="bbs_id != null">
      AND bbs_id = #{bbs_id}
    </if>
    <if test="administ_code != null">
      AND administ_code = #{administ_code}
    </if>
    <if test="chnnl_sn != null">
      AND chnnl_sn = #{chnnl_sn}
    </if>
  </update>


<!--  여기 까지 알림-->

  <insert id="insertMberTkn" parameterType="com.example.mybatistest.mybatisinsert.Member">
    insert into TAD_MN_PUSH_USER(
      mbr_tkn_value,
      mbr_id,
      mbr_nm,
      push_creat_dt,
      usage_at
    )
    VALUES
      (
        #{mbr_tkn_value},
        #{mbr_id},
        #{mbr_nm},
        sysdate,
        'Y'
      )

  </insert>

  <update id="updateMberTkn" parameterType="com.example.mybatistest.mybatisinsert.Member">
    UPDATE
      TAD_MN_PUSH_USER
    SET
      mbr_id = #{mbr_id}, mbr_nm =#{mbr_nm}
    WHERE
      mbr_tkn_value = #{mbr_tkn_value}
  </update>
  
  <update id="updateDplcteMberTkn" parameterType="com.example.mybatistest.mybatisinsert.Member">
    UPDATE
      TAD_MN_PUSH_USER
    SET
      push_creat_dt = sysdate, usage_at = 'N'
    WHERE
      mbr_tkn_value = #{old_token}
  </update>

  <insert id="fcmGubunInsert" parameterType="com.example.mybatistest.mybatisinsert.Member">

    <selectKey resultType="int" keyProperty="push_seq" order="BEFORE">
      SELECT
         NVL(MAX(push_seq),0)+1
      FROM
      TAD_MN_PUSH_GUBUN
      where mbr_tkn_value = #{mbr_tkn_value}
    </selectKey>

    insert into
    TAD_MN_PUSH_GUBUN
        (mbr_tkn_value, push_seq, sys_id, bbs_id, push_at, creat_dt)
    VALUES
      (
        #{mbr_tkn_value},
        #{push_seq},
        #{sys_id},
        #{bbs_id},
        #{push_at},
        sysdate
      )
  </insert>

  <select id="fcmListMember" resultType="com.example.mybatistest.mybatisinsert.Member">
    SELECT
      a.mbr_tkn_value,c.push_sj, c.push_nm, c.link_info, c.push_sttus
    FROM
      TAD_MN_PUSH_USER a, TAD_MN_PUSH_GUBUN b, TAD_MN_PUSH_MANAGE c
    WHERE
      a.mbr_tkn_value = b.mbr_tkn_value
      AND b.sys_id = c.sys_id
      AND b.bbs_id = c.bbs_id
      AND b.push_at = 'Y'

  </select>

  <insert id="realInsert" parameterType="java.util.List">

    INSERT INTO
    TAD_MN_PUSH_FCM(
    fcm_sn, mbr_tkn_value, push_sj, push_nm, link_info, push_sttus
                    )
    VALUES
        <foreach collection="list" item="item" separator=",">
          (
            (
              SELECT
                  NVL(MAX(fcm_sn),0)+1
              FROM
                  TAD_MN_PUSH_FCM
            ),
            #{item.mbr_tkn_value},
            #{item.push_sj},
            #{item.push_nm},
            #{item.link_info},
           'N'
          )
    </foreach>
  </insert>

  <delete id="deleteGubunMember" parameterType="com.example.mybatistest.mybatisinsert.Member">
    DELETE FROM
      TAD_MN_PUSH_GUBUN
    WHERE
      mbr_tkn_value = #{mbr_tkn_value}
  </delete>
  

  <select id="fcmPushList" parameterType="com.example.mybatistest.mybatisinsert.Member" resultType="com.example.mybatistest.mybatisinsert.Member">
  SELECT
      *
  FROM
    TAD_MN_PUSH_FCM
  </select>

  <delete id="deleteFcmPushList" parameterType="String">
    DELETE FROM
      TAD_MN_FCM
    WHERE
        mbr_token = #{mbr_token}
  </delete>
</mapper>