<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatistest.mybatisinsert.MybatisInserDao">

    <insert id="insertInfoTarget" parameterType="java.util.List">

      INSERT INTO TAP_NS_NTCN_SE
        (
          mbr_id, ntcn_seq, sys_id, bbs_id, administ_code,
          chnnl_sn, link_info, bbs_sj, ntcn_at, creat_dt
        )
        VALUES
            <foreach collection="list" item="receiver" separator=",">
                (
                    #{receiver.mbr_id},
                  (
                  SELECT
                     NVL(MAX(ntcn_seq),0)+1
                  FROM
                    TAP_NS_NTCN_SE
                  where
                     mbr_id = #{receiver.mbr_id}
                  ),
                    #{receiver.sys_id},
                    #{receiver.bbs_id},
                    #{receiver.administ_code},
                    #{receiver.chnnl_sn},
                    #{receiver.link_info},
                    #{receiver.bbs_sj},
                    'Y',
                    sysdate
                )
            </foreach>
    </insert>

    <delete id="informDelete" >
      DELETE
      FROM TAP_NS_NTCN_SE
    </delete>

    <select id="selectRegisteredPost" resultType="com.example.mybatistest.mybatisinsert.Allim">
      SELECT sys_id,
             administ_code,
             bbs_id,
             chnnl_sn,
             ntcn_sj,
             ntcn_cn,
             link_info,
             ntcn_sttus,
             ntcn_creat_dt,
             creat_mbr_ip
      FROM TAP_NM_NTCN_MANAGE
      WHERE ntcn_sttus = 'Y'
    </select>

    <select id="selectInfoTarget" resultType="com.example.mybatistest.mybatisinsert.Allim" parameterType="com.example.mybatistest.mybatisinsert.Allim">
      select a.mber_id as mbr_id,
             a.administ_code,
             b.sys_id,
             b.bbs_id,
             b.ntcn_sj,
             b.ntcn_cn,
             b.link_info,
             b.bbs_sj
      from po_user.tap_mm_mber a,
           po_user.tap_nm_ntcn_manage b
      where a.administ_code = #{administ_code}
        and a.mber_sttus != 'D'
      and b.sys_id = #{sys_id}
        and b.bbs_id = #{bbs_id}
        and a.administ_code = b.administ_code
    </select>

  <select id="selectArcTarget" resultType="com.example.mybatistest.mybatisinsert.Allim" parameterType="com.example.mybatistest.mybatisinsert.Allim">
    select a.chnnl_sn,
           a.sbscr_sn,
           a.reg_id as mbr_id,
           a.reg_dt,
           a.reg_ip,
           b.sys_id,
           b.ntcn_sj,
           b.ntcn_cn,
           b.link_info,
           b.bbs_sn
    from
      TAD_AR_CS_CHNNL_SBSCR a inner join TAP_NM_NTCN_MANAGE b
    where a.chnnl_sn = #{chnnl_sn}
      and a.chnnl_sn = b.chnnl_sn
  </select>

  <update id="updateNtcnSttus" parameterType="com.example.mybatistest.mybatisinsert.Allim">
    UPDATE
    TAP_NM_NTCN_MANAGE
    SET
    ntcn_sttus = 'N'
    WHERE
    sys_id = #{sys_id}
    <if test="bbs_id != null">
      AND bbs_id = #{bbs_id}
    </if>
    <if test="administ_code != null">
      AND administ_code = #{administ_code}
    </if>
    <if test="chnnl_sn != null">
      AND chnnl_sn = #{chnnl_sn}
    </if>
  </update>


<!--  여기 까지 알림-->

  <insert id="fcmInsertPost" parameterType="com.example.mybatistest.mybatisinsert.Member">
    insert into TAP_MN_PUSH_USER(
      mbr_token, mbr_id, mbr_nm, creat_dt
    )
    VALUES
      (
        #{mbr_token},
        #{mbr_id},
        #{mbr_nm},
        sysdate()
      )

  </insert>

  <update id="fcmUpdatePost" parameterType="com.example.mybatistest.mybatisinsert.Member">
    UPDATE
        TAP_MN_PUSH_USER
    SET
        mbr_id = #{mbr_id}, mbr_nm =#{mbr_nm}
    WHERE
        mbr_token = #{mbr_token}

  </update>
  
  <update id="fcmDuplicatedTokenUpdate" parameterType="com.example.mybatistest.mybatisinsert.Member">
    UPDATE
      TAP_MN_PUSH_USER
    SET
       creat_dt = sysdate(), usage_status = 'N'
    WHERE
      mbr_token = #{old_token}
  </update>

  <insert id="fcmGubunInsert" parameterType="com.example.mybatistest.mybatisinsert.Member">

    <selectKey resultType="int" keyProperty="push_seq" order="BEFORE">
      SELECT
         IFNULL(MAX(push_seq),0)+1
--       Oracle -  NVL(MAX(push_seq),0)+1
      FROM
          tap_mn_push_gubun
      where mbr_token = #{mbr_token}
    </selectKey>

    insert into
        TAP_MN_PUSH_GUBUN
        (mbr_token, push_seq, sys_id, bbs_id, push_yn, creat_dt)
    VALUES
      (
        #{mbr_token},
        #{push_seq},
        #{sys_id},
        #{bbs_id},
        #{push_yn},
        sysdate()
      )
  </insert>

  <select id="fcmListMember" resultType="com.example.mybatistest.mybatisinsert.Member">
    SELECT
      a.mbr_token,c.push_sj, c.push_nm, c.link, c.push_sttus
    FROM
      tap_mn_push_user a, tap_mn_push_gubun b, tap_mn_push_manage c
    WHERE
      a.mbr_token = b.mbr_token
      AND b.sys_id = c.sys_id
      AND b.bbs_id = c.bbs_id
      AND b.push_yn = 'Y'

  </select>

  <insert id="realInsert" parameterType="java.util.List">
    INSERT INTO
         TAP_MN_FCM(
                    mbr_token, push_sj, push_nm, link, push_sttus
                    )
    VALUES
        <foreach collection="list" item="item" separator=",">
          (
            #{item.mbr_token},
            #{item.push_sj},
            #{item.push_nm},
            #{item.link},
           'N'
          )
    </foreach>
  </insert>

  <delete id="fcmDeleteGubun" parameterType="com.example.mybatistest.mybatisinsert.Member">
    DELETE FROM
        TAP_MN_PUSH_GUBUN
    WHERE
        mbr_token = #{mbr_token}
  </delete>
  

  <select id="fcmPushList" parameterType="com.example.mybatistest.mybatisinsert.Member" resultType="com.example.mybatistest.mybatisinsert.Member">
  SELECT
      *
  FROM
      tap_mn_fcm
  </select>

  <delete id="deleteFcmPushList" parameterType="String">
    DELETE FROM
        tap_mn_fcm
    WHERE
        mbr_token = #{mbr_token}
  </delete>
</mapper>