<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.whalesoft.alrim.AlrimDao">

  <insert id="insertInfoTarget" parameterType="java.util.List">

    INSERT INTO TAP_NS_NTCN_SE
    (
    mber_id, ntcn_seq, sys_id, bbs_id, administ_code,
    chnnl_sn, link_info, bbs_sj, ntcn_at, creat_dt
    )
    VALUES
    <foreach collection="list" item="receiver" separator=",">
      (
      #{receiver.mber_id},
      (
      SELECT
      NVL(MAX(ntcn_seq),0)+1
      FROM
      TAP_NS_NTCN_SE
      where
      mber_id = #{receiver.mber_id}
      ),
      #{receiver.sys_id},
      #{receiver.bbs_id},
      #{receiver.administ_code},
      #{receiver.chnnl_sn},
      #{receiver.link_info},
      #{receiver.bbs_sj},
      'Y',
      sysdate
      )
    </foreach>
  </insert>

  <delete id="informDelete" >
    DELETE
    FROM TAP_NS_NTCN_SE
  </delete>

  <select id="selectRegisteredPost" resultType="co.whalesoft.alrim.Alrim">
    SELECT
      sys_id, administ_code, bbs_id, chnnl_sn, ntcn_sj,
      ntcn_cn, link_info, ntcn_sttus, ntcn_creat_dt, creat_mbr_ip
    FROM
      TAP_NM_NTCN_MANAGE
    WHERE
      ntcn_sttus = 'Y'
  </select>

  <select id="selectInfoTarget" resultType="co.whalesoft.alrim.Alrim" parameterType="co.whalesoft.alrim.Alrim">
    SELECT
      a.mber_id as mber_id, a.administ_code, b.sys_id, b.bbs_id, b.ntcn_sj,
      b.ntcn_cn, b.link_info, b.bbs_sj
    FROM
      po_user.tap_mm_mber a, po_user.tap_nm_ntcn_manage b
    WHERE
      a.administ_code = #{administ_code}
      AND a.mber_sttus != 'D'
             AND b.sys_id = #{sys_id}
      AND b.bbs_id = #{bbs_id}
      AND a.administ_code = b.administ_code
  </select>

  <select id="selectArcTarget" resultType="co.whalesoft.alrim.Alrim" parameterType="co.whalesoft.alrim.Alrim">
    select a.chnnl_sn, a.sbscr_sn, a.reg_id as mber_id, a.reg_dt, a.reg_ip,
           b.sys_id, b.ntcn_sj, b.ntcn_cn, b.link_info, b.bbs_sn
    from
      TAD_AR_CS_CHNNL_SBSCR a inner join TAP_NM_NTCN_MANAGE b
    where a.chnnl_sn = #{chnnl_sn}
      and a.chnnl_sn = b.chnnl_sn
  </select>

  <update id="updateNtcnSttus" parameterType="co.whalesoft.alrim.Alrim">
    UPDATE
    TAP_NM_NTCN_MANAGE
    SET
    ntcn_sttus = 'N'
    WHERE
    sys_id = #{sys_id}
    <if test="bbs_id != null">
      AND bbs_id = #{bbs_id}
    </if>
    <if test="administ_code != null">
      AND administ_code = #{administ_code}
    </if>
    <if test="chnnl_sn != null">
      AND chnnl_sn = #{chnnl_sn}
    </if>
  </update>

  <!--  여기 까지 알림-->
</mapper>